@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-blue: #1f2a44;
  --color-warm-orange: #f59e08;
  --color-soft-green: #22c55e;
  --color-lighter-gray: #f8fafc;

  --font-fira-sans: 'Fira Sans', sans-serif;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

:root {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-lighter-gray);
}

/* :root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
} */
